# Binaries
hfs
hfs-fyne
hfs-headless
hfs-desktop
build/
*.exe
*.app

# Go
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Wails
wailsjs/
frontend/wailsjs/
shfs-crash.log
shfs-linux-desktop
shfs-windows-*

# Local Mesa/RDP build folder
shfs-windows-desktop-mesa/
